<aside class="flex min-h-screen w-72 flex-col bg-marmelade-900">
  <div class="hidden items-center p-6 lg:flex">
    <a routerLink="/">
      <img
        ngSrc="/assets/logo-mono.png"
        height="130"
        width="400"
        priority
        alt="Logo"
        class="h-8 w-24"
      />
    </a>
  </div>
  <nav class="flex-1 space-y-2 px-4 py-6">
    <a
      class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text-white hover:bg-marmelade-800/30"
      routerLink="/wishlists/library"
      routerLinkActive="bg-marmelade-800/50"
    >
      <i class="pi pi-gift"></i>My Wishlists</a
    >
    <a
      class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text-white hover:bg-marmelade-800/30"
      routerLink="/wishlists/explore"
      routerLinkActive="bg-marmelade-800/50"
    >
      <i class="pi pi-eye"></i>Explore</a
    >
    <a
      class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text-white hover:bg-marmelade-800/30"
      routerLink="/friends"
      routerLinkActive="bg-marmelade-800/50"
    >
      <i class="pi pi-users"></i>Friends</a
    >
    <a
      class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text-white hover:bg-marmelade-800/30"
      routerLink="/teams"
      routerLinkActive="bg-marmelade-800/50"
    >
      <i class="pi pi-desktop"></i>Teams</a
    >
    <a
      class="flex items-center gap-3 rounded-lg px-3 py-2 text-sm font-medium text-white hover:bg-marmelade-800/30"
      routerLink="/saved"
      routerLinkActive="bg-marmelade-800/50"
    >
      <i class="pi pi-bookmark"></i>Saved</a
    >
  </nav>
  <div class="hidden border-t-3 border-marmelade-800/30 p-4 lg:block">
    <div class="flex items-center">
      <p-avatar
        styleClass="mr-3!"
        [image]="photoUrl"
        shape="circle"
        size="large"
      ></p-avatar>
      <div class="min-w-0 flex-1">
        <p class="truncate text-sm font-medium text-white">{{ displayName }}</p>
        <p class="truncate text-xs text-marmelade-300">{{ email }}</p>
      </div>
      <i
        (click)="logout()"
        class="pi pi-sign-out cursor-pointer text-white hover:text-marmelade-300"
      ></i>
    </div>
  </div>
</aside>
