@import '../../../../styles'

nav
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%

  .links
    display: flex
    flex-direction: column
    gap: 1rem

    a
      display: flex
      align-items: center
      gap: .5rem
      padding: 1rem 2rem
      border-radius: 10px
      color: $background
      text-decoration: none

      svg path
        stroke: $background

      &:hover
        background-color: rgba($background, .7)
        color: $text

        svg path
          stroke: $text

      &.active
        background-color: $background
        color: $text

        svg path
          stroke: $text

  .profile
    display: flex
    justify-content: space-between
    align-items: center
    padding: 1rem 2rem
    border-radius: 10px
    color: $background

    svg path
      stroke: $background
