<div class="flex min-h-screen">
  <app-sidebar></app-sidebar>
  <main class="w-full p-6">
    <p-button
      variant="text"
      icon="pi pi-arrow-left"
      label="Back to wishlists"
      size="small"
      styleClass="mb-6!"
      routerLink="/wishlists/library"
    ></p-button>
    <section
      class="mb-8 flex flex-col items-start justify-between gap-4 rounded-lg bg-marmelade-400 p-6 text-white md:flex-row md:items-center"
    >
      <div class="flex flex-col gap-2">
        <h1 class="text-2xl font-bold md:text-3xl">{{ wishlistName }}</h1>
        <div class="flex items-center space-x-4">
          <!-- Change hardcode on refactor -->
          <p-tag
            icon="pi pi-tag"
            value="Birthday"
            severity="secondary"
            styleClass="bg-transparent! text-white! p-0!"
          />
          <p-tag
            icon="pi pi-calendar"
            value="18 Oct 2025"
            severity="secondary"
            styleClass="bg-transparent! text-white! p-0!"
          />
        </div>
        <p class="block text-white/90">
          Things I'd love to receive for my birthday this year!
        </p>
      </div>
      <div class="flex gap-2">
        <p-button
          severity="secondary"
          icon="pi pi-share-alt"
          label="Share"
          styleClass="bg-white/20! border-none! text-white! hover:bg-white/30!"
        ></p-button>
        <p-button
          icon="pi pi-plus"
          label="Add Gift"
          styleClass="bg-white! border-none! text-marmelade-600! hover:bg-white/90!"
          *ngIf="accessType !== AccessType.Viewer"
          class="create-card"
          (click)="openGiftCreateDialog()"
        ></p-button>
      </div>
    </section>
    <section class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
      <app-gift-card
        *ngFor="let gift of gifts"
        [gift]="gift"
        [dialogRef]="matDialogRefg"
        [accessType]="accessType"
        [currentUserEmail]="currentUserEmail"
      ></app-gift-card>
    </section>
  </main>
</div>
