<main
  class="absolute top-0 left-0 z-10 flex min-h-screen w-full flex-col bg-marmelade-50 p-8 md:w-[465px] md:p-12"
>
  <a routerLink="/">
    <img
      ngSrc="/assets/logo.png"
      height="130"
      width="400"
      priority
      alt="Logo"
      class="mb-12 h-12 w-36"
    />
  </a>

  <h1 *ngIf="!resetSent" class="mb-8 text-3xl font-semibold text-marmelade-950">
    Reset your password
  </h1>

  <ng-container *ngIf="!resetSent">
    <p class="mb-8">
      Enter your email address and we'll send you instructions to reset your
      password.
    </p>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="requestPasswordReset()">
      <div class="mb-4 flex flex-col gap-1">
        <input
          pInputText
          type="email"
          id="email"
          formControlName="email"
          placeholder="Email"
          autocomplete="off"
          class="bg-white! text-marmelade-950! focus:border-marmelade-400!"
          fluid="fluid"
        />
        <p-message
          *ngIf="
            resetPasswordForm.get('email')?.invalid &&
            resetPasswordForm.get('email')?.touched
          "
          severity="error"
          variant="simple"
          size="small"
          >Email is invalid</p-message
        >
        <p-message
          *ngIf="errorMessage"
          severity="error"
          variant="simple"
          size="small"
          >{{ errorMessage }}</p-message
        >
      </div>
      <p-button
        label="Send Reset Link"
        fluid="fluid"
        styleClass="bg-marmelade-500! border-none! text-white! hover:bg-marmelade-600!"
        type="submit"
        [disabled]="resetPasswordForm.invalid"
        [loading]="loading"
      />
    </form>
  </ng-container>

  <ng-container *ngIf="resetSent">
    <h1 class="mb-8 text-3xl font-semibold text-marmelade-950">
      Check your email
    </h1>
    <p class="mb-2">
      We've sent instructions to reset your password to
      <strong>{{ sentToEmail }}</strong
      >.
    </p>
    <p>
      If you don't see the email in your inbox, please check your spam folder.
    </p>
  </ng-container>

  <ul class="mt-auto text-marmelade-950">
    <li>
      Go back to
      <a
        class="text-marmelade-400 underline transition-colors hover:bg-marmelade-400 hover:text-white"
        routerLink="/auth/login"
        >sign in.</a
      >
    </li>
  </ul>
</main>
<div class="magicpattern absolute"></div>
