<article
  class="bg-card text-card-foreground overflow-hidden rounded-lg border-1 border-gray-200 shadow-sm"
>
  <header class="flex flex-col space-y-1.5 bg-marmelade-400 p-4 text-white">
    <div class="flex items-start justify-between">
      <div>
        <h3 class="text-2xl leading-none font-semibold tracking-tight">
          {{ wishlist.name }}
        </h3>
        <p class="mt-1 text-sm text-white/80">
          {{ wishlist.categories.join(" • ") }}
        </p>
        <div class="mt-1 text-sm">
          {{ wishlist.occasionDate | date: "d MMM y" }}
        </div>
      </div>
      <p-button
        variant="text"
        icon="pi pi-ellipsis-h"
        styleClass="text-white! hover:bg-white/20!"
        (click)="menu.toggle($event)"
      ></p-button>
    </div>
  </header>
  <div class="bg-marmelade-50 p-4">
    <div class="flex space-x-2">
      <img
        *ngFor="let url of wishlist.photoUrls"
        [ngSrc]="url"
        alt="gift-photo"
        width="64"
        height="64"
        class="h-16 w-16 object-cover"
      />
    </div>
  </div>
  <div class="flex items-center justify-between bg-white p-3">
    <span
      class="focus:ring-ring inline-flex items-center rounded-full border border-marmelade-200 px-2.5 py-0.5 text-xs font-semibold text-marmelade-600 transition-colors focus:ring-2 focus:ring-offset-2 focus:outline-none"
      >{{ wishlist.giftsCount }} items</span
    >
    <p-button
      variant="text"
      label="View"
      size="small"
      [routerLink]="`/wishlists/${wishlist.id}`"
    ></p-button>
  </div>
</article>
<p-menu #menu [model]="menuItems" [popup]="true" />
