<footer>
  <div class="container">
    <div class="logo">
      <h3>Höffly</h3>
    </div>
    <div class="actions">
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a routerLink="wishlists">Wishlists</a></li>
      </ul>
      <button class="secondary" routerLink="/auth/login">Sign Up</button>
    </div>
  </div>
</footer>

<div class="container">
  <nav>
    <div class="logo">
      <h3>Höffly</h3>
    </div>
    <div class="actions">
      <ul>
        <li><a href="#about">About Us</a></li>
        <li><a routerLink="wishlists">Wishlists</a></li>
      </ul>
      <button class="secondary" routerLink="/auth/login">Sign Up</button>
    </div>
  </nav>

  <main>
    <div class="hero">
      <div class="text">
        <h1>Visualize your wishlist right now!</h1>
        <p class="bigger">Register and create your wishlist or look for gift ideas from public lists!</p>
        <button class="accent">Create a wishlist</button>
      </div>
      <img src="./assets/hero.png" alt="Hero image">
    </div>
    <div id="about" class="about">
      <h2>About Us</h2>
      <div class="points">
        <div class="point">
          <img src="./assets/hand.png" alt="Hand with a pen">
          <p class="bigger">With Höffly you can easily create your wishlists and add new ideas with the help of AI</p>
        </div>
        <div class="point">
          <img src="./assets/stand.png" alt="Hand with a pen">
          <p class="bigger">Choose gifts for friends or share presents with others</p>
        </div>
        <div class="point">
          <img src="./assets/files.png" alt="Hand with a pen">
          <p class="bigger">View public wishlists and share yours</p>
        </div>
      </div>
    </div>
    <div class="slogan">
      <p class="bigger">Create your wishlist now, get one step closer to making your wish come true!</p>
      <button class="accent">Create a wishlist</button>
    </div>
  </main>
</div>

