<main
  class="absolute top-0 left-0 z-10 flex min-h-screen w-full flex-col bg-marmelade-50 p-8 md:w-[465px] md:p-12"
>
  <a routerLink="/">
    <img
      ngSrc="/assets/logo.png"
      height="130"
      width="400"
      priority
      alt="Logo"
      class="mb-12 h-12 w-36"
    />
  </a>

  <h1 class="mb-8 text-3xl font-semibold text-marmelade-950">
    Log in to your account
  </h1>

  <p-button
    label="Continue with google"
    icon="pi pi-google"
    fluid="fluid"
    styleClass="bg-shark-500! hover:bg-shark-600! border-none!"
    (onClick)="loginWithGoogle()"
  />

  <p-divider align="center">
    <span class="px-2 text-gray-500">or</span>
  </p-divider>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-4 flex flex-col gap-1">
      <input
        pInputText
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
        autocomplete="off"
        class="bg-white! text-marmelade-950! focus:border-marmelade-400!"
        fluid="fluid"
      />
      <p-message
        *ngIf="
          loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        "
        severity="error"
        variant="simple"
        size="small"
        >Email is invalid</p-message
      >
    </div>
    <div class="mb-4 flex flex-col gap-1">
      <p-password
        formControlName="password"
        placeholder="Password"
        fluid="fluid"
        toggleMask="toggleMask"
        [feedback]="false"
      >
      </p-password>
      <p-message
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        severity="error"
        variant="simple"
        size="small"
        >Password is required</p-message
      >
    </div>
    <p-button
      label="Sign In"
      fluid="fluid"
      styleClass="bg-marmelade-500! border-none! text-white! hover:bg-marmelade-600!"
      type="submit"
      [disabled]="loginForm.invalid"
      [loading]="loading"
    />
  </form>

  <ul class="mt-auto text-marmelade-950">
    <li>
      Forgot your password?
      <a
        class="text-marmelade-400 underline transition-colors hover:bg-marmelade-400 hover:text-white"
        routerLink="/auth/reset-password"
        [queryParams]="{ email: loginForm.get('email')?.value }"
        >Reset it now.</a
      >
    </li>
    <li>
      Don't have an account yet?
      <a
        class="text-marmelade-400 underline transition-colors hover:bg-marmelade-400 hover:text-white"
        routerLink="/auth/register"
        >Sign up.</a
      >
    </li>
  </ul>
</main>
<div class="magicpattern absolute"></div>
