<article class="rounded-lg border border-surface-200 bg-surface-0 shadow-sm">
  <div class="flex justify-between p-4">
    <div class="">
      <p-skeleton width="10rem" height="1.5rem" styleClass="mb-1" />
      <p-skeleton width="5rem" height="1.25rem" styleClass="mb-1" />
      <p-skeleton width="3rem" height="1rem" />
    </div>
    <p-skeleton width="2.5rem" height="2.5rem" />
  </div>
  <div class="flex gap-2 p-4">
    <p-skeleton width="4rem" height="4rem" />
    <p-skeleton width="4rem" height="4rem" />
    <p-skeleton width="4rem" height="4rem" />
    <p-skeleton width="4rem" height="4rem" />
  </div>
  <div class="flex items-center justify-between p-4">
    <p-skeleton width="4rem" height="1.25rem" />
    <p-skeleton width="4rem" height="2rem" />
  </div>
</article>
