<div class="gift">
    <img [src]="gift.thumbnailLink" alt="gift.name">
    <div class="gift__info">
        <p class="smaller tinted">{{ gift.categoryName }}</p>
        <h4>{{ gift.name }}</h4>
        <p>{{ gift.price | currency: getCurrencyString(gift.currency) }}</p>
    </div>
    <div class="gift__actions">
      <ng-container *ngIf="accessType !== AccessType.Viewer; else guestActions">
        <button (click)="onUpdate()">Update</button>
        <button (click)="onDelete()">Delete</button>
      </ng-container>
      <ng-template #guestActions>
        <button (click)="onReserve()">{{ gift.isReserved ? 'Cancel Reservation' : 'Reserve' }}</button>
      </ng-template>
    </div>
</div>
