<div class="card">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="M20 21V19C20 17.9391 19.5786 16.9217 18.8284 16.1716C18.0783 15.4214 17.0609 15 16 15H8C6.93913 15 5.92172 15.4214 5.17157 16.1716C4.42143 16.9217 4 17.9391 4 19V21" stroke="#280109" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z" stroke="#280109" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
  <div>
    <h4>{{friend.name}}</h4>
    @switch (friend.status) {
      @case (InvitationStatus.Pending) {
        @if (friend.isSender) {
          <button class="danger smaller outline" (click)="deleteFriend()">Cancel request</button>
        } @else {
          <div class="actions">
            <button class="secondary smaller" (click)="manageRequest(InvitationStatus.Accepted)">Accept request</button>
            <button class="danger smaller outline" (click)="manageRequest(InvitationStatus.Rejected)">Reject request</button>
          </div>
        }
      }
      @case (InvitationStatus.Accepted) {
        <button class="danger smaller" (click)="deleteFriend()">Remove friend</button>
      }
      @case (InvitationStatus.Rejected) {
        @if (friend.isSender) {
          <p class="smaller">The user rejected your request</p>
          <button class="danger smaller" (click)="deleteFriend()">Delete request</button>
        } @else {
          <p class="smaller">You rejected user's request</p>
          <button class="danger smaller" (click)="deleteFriend()">Delete request</button>
        }
      }
    }
  </div>
</div>
